#qna {
  display: none;
}

.qBox {
  font-family: 'BMJUA';
  background-color: transparent;
  text-align: center;
  border-radius: 20px;
  font-weight: 400;
  font-size: 23px;
  width: 90%
}

.answerList {
  font-family: 'BMJUA';
  max-width: 425px;
  background-color: #e8f8e6;
  border-radius: 20px;
  display: block;
  width: 85%;
  border: 0px;
  font-size: 17px;
  height: 83px;
  color: black;
  padding: 10px 17px; /* 상하 여백을 10px, 좌우 여백을 17px */
  line-height: 23px;
  border: 4px solid #477560;
  box-sizing: border-box; /* 패딩과 보더를 포함한 전체 높이 및 너비 계산 */
}

.answerList:hover, .answerList:focus {
  background-color: #4D5D4A;
  color: whitesmoke;
}

.progress-container {
    position: relative;
    width: 90%;
    height: 30px;
    background-color: #d3d3d3;
    border-radius: 15px;
    margin: 20px auto;
    overflow: visible; /* 이미지가 프로그레스 바 밖으로 나올 수 있도록 변경 */
}

.progress-bar {
    /* position: relative; */
    height: 100%;
    background-color: #477560;
    border-radius: 15px;
    width: 0%;
    display: flex;
    align-items: center;
    transition: width 0.5s ease;
	border: 4px solid black;
}

.progress-cat {
    position: absolute;
    left: 0;
    top: -15px; /* 고양이 이미지를 프로그레스 바 위로 올리기 위해 조정 */
    transform: translateX(-50%); /* 고양이 이미지를 가운데로 이동 */
    height: 60px; /* 고양이 이미지 높이를 조정 */
    z-index: 1; /* 고양이 이미지를 프로그레스 바 위로 올림 */
    transition: left 0.5s ease;
}


@media screen and (max-width: 380px) {
	.qBox {
	  font-size: 20px; /* 작은 화면에서는 글꼴 크기 줄임 */
	}
	.answerList {
	  font-size: 14px; /* 작은 화면에서는 글꼴 크기 줄임 */
	}
}

@font-face {
    font-family: 'BMJUA';
    src: url('../fonts/BMJUA_ttf.ttf') format('opentype');
}

.loading-gif {
    max-width: 350px; /* 최대 너비 설정 */
    height: auto; /* 높이는 자동 조정 */
    display: block; /* 인라인 요소를 블록 요소로 변경 */
    margin: 0 auto; /* 가운데 정렬 */
    position: absolute; /* 절대 위치 지정 */
    top: 50%; /* 상단에서 50% 아래로 이동 */
    left: 50%; /* 왼쪽에서 50% 오른쪽으로 이동 */
    transform: translate(-50%, -50%); /* 요소를 자신의 크기의 절반만큼 위와 왼쪽으로 이동 */
}
