/* 반응형 폰트 크기 지정 */
.resultname {
    font-family: 'Maplestory Bold';
    white-space: nowrap; /* 항상 한 줄로 유지 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 넘치는 텍스트 생략 부호(...) 표시 */
}

@font-face {
    font-family: 'Maplestory Light';
    src: url('../fonts/Maplestory OTF Light.otf') format('opentype');
}

@font-face {
	font-family: 'Maplestory Bold';
	src: url('../fonts/Maplestory OTF Bold.otf') format('opentype');
}

/* result.css */
body {
    background-color: #fffef5;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0 15px; /* 양쪽 여백 최소화 */
}

.resultname {
    font-family: 'Maplestory Light', sans-serif;
    margin-top: 20px;
}

#resultImg img {
    border-radius: 10px;
}

.resultDesc {
    margin-top: 20px;
}
