@font-face {
    font-family: 'Maplestory Light';
    src: url('../fonts/Maplestory OTF Light.otf') format('opentype');
}

@font-face {
    font-family: 'Maplestory Bold';
    src: url('../fonts/Maplestory OTF Bold.otf') format('opentype');
}

body {
    background-color: #fffef5;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0 15px;
}

.resultname {
    font-family: 'Maplestory Bold', sans-serif;
    margin-top: 20px;
    /* clamp : 최소값, 최대값, 단위 */
    font-size: clamp(5rem, 10vw, 50px);
    color: #388E5E;
}

#resultImg img {
    border-radius: 10px;
}

.resultDesc {
    margin-top: 20px;
}

.result-container {
    border: 5px solid #5B9473;
    border-radius: 60px;
    padding: 20px;
    margin-top: 20px;
    background-color: #F9F9F9;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.result-container h2 {
    font-family: 'Maplestory Light', sans-serif;
    color: #5B9473;
    font-size: clamp(1.5rem, 4vw, 50px);
    margin-bottom: 10px;
}

.result-container p,
.result-container ul {
    font-family: 'Maplestory Light';
    color: #333;
    font-size: 2.5em;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    text-align: left;
}

.result-container ul {
    padding-left: 20px;
    text-align: left;
}

.result-container ul li {
    list-style-type: none;
    margin-bottom: 5px;
    font-family: 'Maplestory Light';
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.button-container a,
.button-container button {
    flex-grow: 1;
    margin: 0 5px;
}

.retry-button, .download-button {
    background-color: green;
    color: #ffffff;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Maplestory Light';
    font-weight: 580;
    text-align: center;
    text-decoration: none;
}

.retry-button:hover, .download-button:hover {
    background-color: darkgreen;
    color: #ffffff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.retry-button:active, .download-button:active {
    background-color: darkgreen;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.result_share {
    font-family: 'Maplestory Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.share_sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* 아이콘 간의 간격 조정 */
}

.background-section {
    background-color: #4D5E4A;
    padding: 20px 0;
}

@media (min-width: 1000px) {
    .result-container p {
        font-size: 2em;
    }

    .result-container ul {
        font-size: 2em;
    }
}